////
/// @group Breakpoint
////

/// Default Media Query List
$mqbp: 0px 479px 480px 640px 641px 979px 980px 1209px 1210px 9999px !default;
//pos:  1 -  2     3  -  4     5  -  6     7  -  8       9  -  10

$mq_phone: null nth($mqbp, 4);
$mq_phone_v: null nth($mqbp, 2);
$mq_phone_h: nth($mqbp, 3) nth($mqbp, 4);

$mq_phablet: nth($mqbp, 3) nth($mqbp, 6);

$mq_tablet: nth($mqbp, 5) nth($mqbp, 8);
$mq_tablet_v: nth($mqbp, 5) nth($mqbp, 6);
$mq_tablet_h: nth($mqbp, 7) nth($mqbp, 8);

$mq_mobile: null nth($mqbp, 6);

$mq_desktop: nth($mqbp, 9) null;

$breakpoint-list: (
						  phone-v: $mq-phone-v,
						  phone-h: $mq-phone-h,
						  tablet-v: $mq-tablet-v,
						  tablet-h: $mq-tablet-h,
						  desktop: $mq-desktop,
						  phone: $mq-phone,
						  tablet: $mq-tablet,
						  mobile: $mq-mobile,
						  phablet: $mq-phablet,
				  ) !default;

///
/// Media query wrapper for styles provided in `@content`
///
/// @param {List | String} $breakpoints [null null] - Min/Max media query width
/// @param {Bool} $not [false] - Inverse the media query
/// @param {Bool} $print [false] - Include print media query
///
/// @content Applies styles to element inside the media query
///
/// @require {function} isnotempty
///
/// @example scss
///   @include at_cwt_bp(480px 640px, false, true)
///
@mixin at_cwt_bp($breakpoints: null null, $not: false, $print: false) {

	$media-str: "";

	@if type-of($breakpoints) == string and isnotempty($breakpoints) {

		@if str-index($breakpoints, "non-") == 1 {
			$breakpoints: str-slice($breakpoints, 5);
			$not: not $not;
		}

		$breakpoints: map-get($breakpoint-list, $breakpoints);
	}

	@if isnotempty($not) {
		$media-str: "not #{$media-str}";
	}

	@if isnotempty($print) {
		$media-str: "#{$media-str} print";
	} @else if isnotempty($not) {
		$media-str: "#{$media-str} all";
	}

	@if type-of($breakpoints) == list and isnotempty(nth($breakpoints, 1)) {
		@if isnotempty($media-str) {
			$media-str: "#{$media-str} and";
		}
		$media-str: "#{$media-str} (min-width: #{nth($breakpoints, 1)})";
	}

	@if type-of($breakpoints) == list and isnotempty(nth($breakpoints, 2)) {
		@if isnotempty($media-str) {
			$media-str: "#{$media-str} and";
		}
		$media-str: "#{$media-str} (max-width: #{nth($breakpoints, 2)})";
	}

	@if isnotempty($media-str) {
		@at-root (without: media) {
			@if & {
				& {
					@media #{$media-str} {
						@content;
					}
				}
			} @else {
				@media #{$media-str} {
					@content;
				}
			}
		}
	} @else {
		@content;
	}
}

@mixin at-phone($print: false) {
	@include at_cwt_bp($mq_phone, false, $print) {
		@content;
	}
}

@mixin at-phone-v($print: false) {
	@include at_cwt_bp($mq_phone_v, false, $print) {
		@content;
	}
}

@mixin at-phone-h($print: false) {
	@include at_cwt_bp($mq_phone_h, false, $print) {
		@content;
	}
}

@mixin at-phablet($print: false) {
	@include at_cwt_bp($mq_phablet, false, $print) {
		@content;
	}
}

@mixin at-tablet($print: false) {
	@include at_cwt_bp($mq_tablet, false, $print) {
		@content;
	}
}

@mixin at-tablet-v($print: false) {
	@include at_cwt_bp($mq_tablet_v, false, $print) {
		@content;
	}
}

@mixin at-tablet-h($print: false) {
	@include at_cwt_bp($mq_tablet_h, false, $print) {
		@content;
	}
}

@mixin at-mobile($print: false) {
	@include at_cwt_bp($mq_mobile, false, $print) {
		@content;
	}
}

@mixin at-desktop($print: false) {
	@include at_cwt_bp($mq_desktop, false, $print) {
		@content;
	}
}

@mixin at-print {
	@include at_cwt_bp(null, false, true) {
		@content;
	}
}

// not

@mixin at-non-phone($print: false) {
	@include at_cwt_bp($mq_phone, true, $print) {
		@content;
	}
}

@mixin at-non-phone-v($print: false) {
	@include at_cwt_bp($mq_phone_v, true, $print) {
		@content;
	}
}

@mixin at-non-phone-h($print: false) {
	@include at_cwt_bp($mq_phone_h, true, $print) {
		@content;
	}
}

@mixin at-non-phablet($print: false) {
	@include at_cwt_bp($mq_phablet, true, $print) {
		@content;
	}
}

@mixin at-non-tablet($print: false) {
	@include at_cwt_bp($mq_tablet, true, $print) {
		@content;
	}
}

@mixin at-non-tablet-v($print: false) {
	@include at_cwt_bp($mq_tablet_v, true, $print) {
		@content;
	}
}

@mixin at-non-tablet-h($print: false) {
	@include at_cwt_bp($mq_tablet_h, true, $print) {
		@content;
	}
}

@mixin at-non-mobile($print: false) {
	@include at_cwt_bp($mq_mobile, true, $print) {
		@content;
	}
}

@mixin at-non-desktop($print: false) {
	@include at_cwt_bp($mq_desktop, true, $print) {
		@content;
	}
}

@mixin at-not-print {
	@include at_cwt_bp(null, true, true) {
		@content;
	}
}