////
/// @group Buttons
////

///
/// Reset button styles
///
/// @param {string} $btn-class [.btn] - Button class.
///
/// @content Applies styles to selector button class
///
/// @example scss
///   @include cwt-button-reset;
///   @include cwt-button-reset(".button");
///   @include cwt-button-reset {
///   	@include cwt-button-colors(white, red, orange darkorange);
///   	@include at-phone {
///   	  width: 100%;
///   	}
///   	&.btn-large {
///   	  @include cwt-button-colors(red, green, orange, 4) {
///   	    @include cwt-font(24px);
///   	    padding: 20px;
///   	  }
///     }
///   }
///
@mixin cwt-button-reset($btn-class: ".btn") {

	#{$btn-class}, a#{$btn-class}, a#{$btn-class}:visited {

		&.btn-disabled, &[disabled], fieldset[disabled] & {
			&, &:hover, &:focus, &:active {
				border:           none;
				background-image: none;
				opacity:          0.40;
				cursor:           not-allowed;
				box-shadow:       none;
				pointer-events:   none;
			}
		}

		&.btn-link {
			&, &:hover, &:focus, &:active {
				background-color: transparent;
				border-color:     transparent;
				box-shadow:       none;
			}
			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		&, &.btn-link[disabled], fieldset[disabled] & {
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}

	#{$btn-class}, a#{$btn-class} {
		@content;
	}
}

///
/// Button colors and border
///
/// @param {Color} $color [#333] - Button text color
/// @param {List | Color} $bg-color [#E6E6E6 darken(#E6E6E6, 10%) darken(#E6E6E6, 5%)]- Background colors for each state
/// @param {Color} $border-color [transparent] - Border color
/// @param {Length} $border-width [0] - Set button border-width.
///
/// @content Applies styles to element
///
/// @require {function} pad-list
/// @require {function} isnotempty
///
/// @example scss
///   @include cwt-button-colors(#fff, #03f, null, 0)
///   @include cwt-button-colors(red, green, orange, 4px) {
///     @include cwt-font(24px);
///   	padding: 20px;
///   }
///
@mixin cwt-button-colors($color: #333, $bg-color: #E6E6E6 darken(#E6E6E6, 10%) darken(#E6E6E6, 5%), $border-color: transparent, $border-width: 0) {
	$color: pad-list($color, 3, nth($color, length($color)));
	$border-color: pad-list($border-color, 3, nth($border-color, length($border-color)));

	@if (length($bg-color) < 2) {
		$bg-color: append($bg-color, darken(nth($bg-color, 1), 10%));
	}

	@if (length($bg-color) < 3) {
		$bg-color: append($bg-color, darken(nth($bg-color, 1), 5%));
	}

	color:            nth($color, 1);
	background-color: nth($bg-color, 1);
	@if (isnotempty($border-width)) {
		border: $border-width solid nth($border-color, 1);
	}

	&:hover, &:focus, &.btn-focus {
		@if (nth($color, 1) != nth($color, 2)) {
			color: nth($color, 2);
		}
		@if (nth($bg-color, 1) != nth($bg-color, 2)) {
			background-color: nth($bg-color, 2);
		}
		@if (isnotempty($border-width) and nth($border-color, 1) != nth($border-color, 2)) {
			border: $border-width solid nth($border-color, 2);
		}
	}

	&:active, &.btn-active {
		@if (nth($color, 1) != nth($color, 3)) {
			color: nth($color, 3);
		}
		@if (nth($bg-color, 1) != nth($bg-color, 3)) {
			background-color: nth($bg-color, 3);
		}
		@if (isnotempty($border-width) and nth($border-color, 1) != nth($border-color, 3)) {
			border: $border-width solid nth($border-color, 3);
		}
	}

	@content;

}