////
/// @group Flex
////

///
/// Converts alternate options to full css values for Flex properties.<br>
/// Accepts: start: flex-start, end: flex-end, middle: center, justify: space-between, space: space-around
///
/// @param {String} $flex-value - alternate value
///
/// @return {String} alt css value
///
/// @example scss
///   @include expand-flex-value(start);
///
@function expand-flex-value($flex-value) {
	@if $flex-value == start {
		$flex-value: flex-start;
	} @else if $flex-value == end {
		$flex-value: flex-end;
	} @else if $flex-value == middle {
		$flex-value: center;
	} @else if $flex-value == justify {
		$flex-value: space-between;
	} @else if $flex-value == space {
		$flex-value: space-around;
	}

	@return $flex-value;
}

///
/// Flexbox
///
/// @param {String} $direction - Flex Direction
/// @param {String} $wrap - Flex Wrap
/// @param {String} $main - Justify Content
/// @param {String} $cross - Align items
/// @param {String} $cross-wrap - Align content
/// @param {String} $display [flex] - Display flex or inline flex
/// @param {List | String} $mq - Defines media query sizes
///
/// @content Applies styles to element
///
/// @require {mixin} at_cwt_bp
/// @require {function} isnotempty
/// @require {function} expand-flex-value
///
/// @example scss
///   @include cwt-flex(column, wrap, center, center, start, flex, mobile);
///
@mixin cwt-flex($direction: null, $wrap: null, $main: null, $cross: null, $cross-wrap: null, $display: flex, $mq: null) {

	@include at_cwt_bp($mq) {
		//* display */
		@if isnotempty($display) {
			display: $display;
		}

		//* direction */
		@if isnotempty($direction) {
			flex-direction: $direction;
		}

		//* wrap */
		@if isnotempty($wrap) {
			flex-wrap: $wrap;
		}

		//* justify-content | for main-axis */
		@if isnotempty($main) {
			justify-content: expand-flex-value($main);
		}

		//* align-items | for cross-axis nowrap */
		// except for wrap with align-content = stretch */
		@if isnotempty($cross) {
			align-items: expand-flex-value($cross);
		}

		//* align-content | for cross-axis wrapping */
		@if isnotempty($cross-wrap) {
			align-content: expand-flex-value($cross-wrap);
		}

		@content;
	}
}

///
/// Defines settings to flex items.
///
/// @param {Number} $grow - Flex grow
/// @param {Number} $shrink - Flex shrink
/// @param {Length} $basis - Flex basis
/// @param {Number} $order - Flex order
/// @param {String} $self - Align self
/// @param {List | String} $mq - Media query
///
/// @content Adds styles to parent class when $container is true.
///
/// @require {mixin} at_cwt_bp
/// @require {function} isnotempty
/// @require {function} expand-flex-value
///
/// @example scss
///   @include cwt-flex-item(0, 1, auto, 1, start, phone-v);
///
@mixin cwt-flex-item($grow: null, $shrink: 1, $basis: auto, $order: null, $self: null, $mq: null) {

	@include at_cwt_bp($mq) {
		//* grow */
		@if isset($grow) {
			flex: $grow $shrink $basis;
		}

		//* order */
		@if isnotempty($order) {
			order: $order;
		}

		//* align-self */
		@if isnotempty($self) {
			align-self: expand-flex-value($self);
		}

		@content;
	}
}