////
/// @group Forms
////

// Submit Elements
$formSubmitElements: '[type="submit"]';

// Form Input Elements
$formInputElements: 'input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
textarea,
.select-box';

///
/// Alternate use of using `$formInputElements` variable
///
/// @content styles that apply to form input elements
///
/// @example scss
///   @include form-input-elements;
///
@mixin form-input-elements {
	#{$formInputElements} {
		@content;
	}
}

///
/// Resets form input elements
///
/// @param {Color} $focus-color [#129FEA] - Form focus border-color
/// @param {Color} $bg-color [#EEE] - Disabled input and read-only input background-color
/// @param {Color} $border-color [#333] - Disabled input and read-only input border-color
/// @param {Color} $text-color [#777] - Read-only input text color
///
/// @content Applies styles to element
///
/// @example scss
///   @include cwt-form-reset(#30f, #ddd, #bbb, #666);
///
@mixin cwt-form-reset($focus-color: #129FEA, $bg-color: #EEE, $border-color: #CCC, $text-color: #777) {
	#{$formInputElements} {
		&:focus {
			outline:      0;
			border-color: $focus-color;
		}

		&[disabled] {
			cursor:           not-allowed;
			background-color: $bg-color;
			border-color:     $border-color;
		}
	}

	input, select, textarea {
		&[readonly] {
			color:            $text-color;
			background-color: $bg-color;
			border-color:     $border-color;
		}
	}

	input[type="color"] {
		padding: 0.2em 0.5em;
	}

	@content;
}