////
/// @group Grid
////

///
/// Gets the columns width based on number of columns and the gutter
///
/// @param {Number} $column-span [] - Number of columns to get the size for
/// @param {Number} $column-count [e] - Total number of columns in grid
/// @param {Length} $gutter [] - Gutter
/// @param {Number | Null} $adjusted-column-count [] - Adjusted total number of columns for non-equal width columns
///
/// @return {Length}
///
/// @example scss
///   @include get-column-size(3, 7, 20px);
///   @include get-column-size(1, 1.618, 40px, 2);
///
@function get-column-size($column-span, $column-count, $gutter, $adjusted-column-count: null) {
	@if $column-span == $column-count {
		@return 100%;
	}

	$column-ratio: $column-span / $column-count;

	@if isempty($gutter) {
		@return number-format(100% * $column-ratio, 3);
	}

	@if isempty($adjusted-column-count) {
		$adjusted-column-count: $column-count;
	}

	$gutter-count: $adjusted-column-count - 1;
	$gutter-combined-width: $gutter * $gutter-count;

	$gutter-combined-width-in-column: 0;
	@if $adjusted-column-count > 2 {
		$gutters-included-in-column: $column-span - 1;
		$gutter-combined-width-in-column: $gutter * $gutters-included-in-column;
	}

	@if unit($gutter) == "%" {
		@return number-format((100% - $gutter-combined-width) * $column-ratio + $gutter-combined-width-in-column, 3);
	}

	@if isempty($gutter-combined-width-in-column) {
		@return calc((100% - #{$gutter-combined-width}) * #{$column-ratio});
	}

	@return calc((100% - #{$gutter-combined-width}) * #{$column-ratio} + #{$gutter-combined-width-in-column});
}

///
/// CSS columns
/// @see {mixin} cwt-flex
///
/// @param {Length} $gutter [2.5%] - Gutter size
/// @param {String} $mq [non-phone] - Media query
/// @param {String} $main [space-between] - Justify content
/// @param {String} $cross [null] - Align items
/// @param {List | Number} $columns [1 12] - Lis is Mix/Max range for number of columns to make, Number is max number
/// @param {String} $prefix ['cwt'] - Class prefix
///
/// @content Applies styles to element
///
/// @require {function} first
/// @require {function} last
/// @require {function} number-format
/// @require {function} map-set
/// @require {function} get-column-size
/// @require {mixin} cwt-flex
/// @require {function} list-sort
///
/// @example scss
///   @include layout-grid(2.5%, non-phone, space-around, null, 1 6, 'cwt');
///
@mixin layout-grid($gutter: 2.5%, $mq: non-phone, $main: space-between, $cross: null, $columns: 1 12, $prefix: 'cwt') {
	@if (type-of($columns) == 'number') {
		$columns: 1 $columns;
	}

	$columns-selectors-map: ();
	$columns-widths-map: ();
	@for $column-count from first($columns) through last($columns) {
		@for $column-span from 1 through $column-count {
			// Using map key as the id of a column (without a gutter)
			// This is so we can combine similar ratios like 1-2, 2-4, 3-6, 4-8, etc into one line
			$columns-map-key: number-format($column-span/$column-count, 3);

			@if not map-has-key($columns-selectors-map, $columns-map-key) {
				$columns-selectors-map: map-set($columns-selectors-map, $columns-map-key, "-#{$column-span}-#{$column-count}");
				$columns-widths-map: map-set($columns-widths-map, $columns-map-key, get-column-size($column-span, $column-count, $gutter));
			} @else {
				// We don't need to append to $columns-widths-map here because we are combining similar ratios into one line
				$columns-selectors-map: map-set($columns-selectors-map, $columns-map-key, append(map-get($columns-selectors-map, $columns-map-key), "-#{$column-span}-#{$column-count}"));
			}
		}
		@if $column-count == 2 {
			$columns-selectors-map: map-set($columns-selectors-map, .618, "-golden-a");
			$columns-widths-map: map-set($columns-widths-map, .618, get-column-size($golden-ratio, $golden-ratio+1, $gutter, 2));

			$columns-selectors-map: map-set($columns-selectors-map, .382, "-golden-b");
			$columns-widths-map: map-set($columns-widths-map, .382, get-column-size(1, $golden-ratio+1, $gutter, 2));
		}
	}

	.#{$prefix}-row {
		@include cwt-flex(null, null, $main, $cross, null, flex, $mq) {
			$column-keys: list-sort(map-keys($columns-selectors-map));
			@each $column-key in $column-keys {

				// Build class selectors into one line
				$class-selector: "";
				@each $class-selectors in map-get($columns-selectors-map, $column-key) {
					$class-selector: $class-selector+", .#{$prefix}-column#{$class-selectors}"
				}

				#{str-slice($class-selector, 3)} { /*! #{percentage($column-key)} */
					width: map-get($columns-widths-map, $column-key);
				}

			}

			@content;

		}
	}

}

///
/// Defines styles for a product grid layout
///
/// @param {Length} $gutter [20px] - Gutter size
/// @param {String} $mq [non-phone] - Media Query when the grid should be displayed
/// @param {Bool} $reset [false] - Reset list style on the element (Optional)
///
/// @content Applies styles to children of the element
///
/// @require {mixin} cwt-flex
/// @require {function} isnotempty
///
/// @example scss
///   @include product-grid(20px, non-phone, true);
///
@mixin product-grid($gutter: 20px, $mq: non-phone, $reset: false) {
	$padding: null;
	@if isnotempty($gutter) {
		$padding: $gutter / 2;
	}
	@include cwt-flex(null, wrap, $mq: $mq) {
		@if $reset {
			@include reset-list;
		}
		overflow: hidden;
		@if isnotempty($padding) {
			margin: $padding * -1;
		}
		& > * {
			display: flex;
			@if isnotempty($padding) {
				padding: $padding;
			}
			@content;
		}
	}
}