////
/// @group Math Functions
////

///
/// Strip the unit from a value
///
/// @param {Length} $value - Value to strip
///
/// @return {Number}
///
@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

///
/// Strip the percentage from a value
///
/// @param {Number} $percentage-value - Value to strip
///
/// @requires {function} strip-unit
///
/// @return {Number}
///
@function unpercentage($percentage-value) {
	@return strip-unit($percentage-value) / 100
}

///
/// Gets the percentage equivalent of a value
///
/// @param {Number} $percentage - Value to make a percent
///
/// @requires {function} strip-unit
///
/// @return {Number}
///
@function maybe-percentage($percentage) {
	@if unit($percentage) != "%" {
		$percentage: strip-unit($percentage);

		@if $percentage >= 1 {
			$percentage: $percentage / 100;
		}

		@return percentage($percentage);
	}

	@return $percentage;
}

///
/// Exponent
///
/// @param {Number} $x - The number
/// @param {Number} $n - The exponent
///
/// @return {Number} x^n
///
@function pow ($x, $n) {
	$ret: 1;

	@if $n >= 0 {
		@for $i from 1 through $n {
			$ret: $ret * $x;
		}
	} @else {
		@for $i from $n to 0 {
			$ret: $ret / $x;
		}
	}

	@return $ret;
}

///
/// Factorial
///
/// @param {Number} $x - The base number
///
/// @return {Number}
///
@function factorial ($x) {
	$ret: 1;

	@if $x > 0 {
		@while $x > 0 {
			$ret: $ret * $x;

			$x: $x - 1;
		}
	}

	@return $ret;
}

///
/// Sine
///
/// @param {Number} $x - Value
///
/// @requires {function} pow
/// @requires {function} factorial
///
/// @return {Number}
///
@function sin ($x) {
	$ret: 0;

	@for $n from 0 to 25 {
		$ret: $ret + pow(-1, $n) * pow($x, 2 * $n + 1) / factorial(2 * $n + 1);
	}

	@return $ret;
}

///
/// Cosine
///
/// @param {Number} $x - Value
///
/// @requires {function} pow
/// @requires {function} factorial
///
/// @return {Number}
///
@function cos ($x) {
	$ret: 0;

	@for $n from 0 to 25 {
		$ret: $ret + pow(-1, $n) * pow($x, 2 * $n) / factorial(2 * $n);
	}

	@return $ret;
}

///
/// Exponential
///
/// @param {Number} $x - Value
///
/// @requires {function} pow
/// @requires {function} factorial
///
/// @return {Number}
///
@function exp ($x) {
	$ret: 0;

	@for $n from 0 to 25 {
		$ret: $ret + pow($x, $n) / factorial($n);
	}

	@return $ret;
}

///
/// Natural Log
///
/// @param {Number} $x - Value
///
/// @return {Number}
///
@function ln($x) {
	$ret: 0;
	$n: 1;
	$dx: .001;

	@while $n <= $x {
		$ret: $ret + $dx / $n;

		$n: $n + $dx;
	}

	@return $ret;
}

///
/// Square root
///
/// @param {Number} $x - Value
///
/// @return {Number}
///
@function sqrt ($x) {
	@if $x < 0 {
		@warn "Argument for `sqrt()` must be a positive number.";
		@return null;
	}
	$ret: 1;
	@for $i from 1 through 24 {
		$ret: $ret - ($ret * $ret - $x) / (2 * $ret);
	}
	@return $ret;
}

///
/// Golden Ratio
///
/// @return {Number}
///
@function golden() {
	@return (1+sqrt(5))/2;
}

/// Golden Ratio
$golden-ratio: golden();

///
/// Round a number to a decimal place
///
/// @param {Number} $num - The number
/// @param {Number} $precision - Number of decimal places
/// @param {String} $round - Round type: floor, ceiling, average
///
/// @requires {function} pow
///
/// @return {Number}
///
/// @example scss
///   @include number-format(1.61803, 3);
///
@function number-format($num, $precision, $round: floor) {
	$factor: pow(10, $precision);

	@if $round == floor {
		@return floor($num * $factor) / $factor;
	} @else if $round == ceil {
		@return ceil($num * $factor) / $factor;
	} @else {
		@return round($num * $factor) / $factor;
	}
}