////
/// @group Variable and List Functions
////

///
/// Check if a value is empty<br>
/// True if value is null, false, '', 0, 0px, 0em, or 0rem
///
/// @param {Any} $var - Value to check
///
/// @return {Bool}
///
@function isempty ($var) {
	@if $var == null {
		@return true;
	}
	@if $var == false {
		@return true;
	}
	@if $var == '' {
		@return true;
	}
	@if $var == 0 {
		@return true;
	}
	@if $var == 0px {
		@return true;
	}
	@if $var == 0em {
		@return true;
	}
	@if $var == 0rem {
		@return true;
	}

	@return false;
}

///
/// Check if a value is is not empty<br>
/// True if value is not null, false, '', 0, 0px, 0em, or 0rem
///
/// @param {Any} $var - Value to check
///
/// @return {Bool}
///
@function isnotempty ($var) {
	@return not(isempty($var));
}

///
/// Check if a value is set<br>
/// True if value is null
///
/// @param {Any} $var - Value to check
///
/// @return {Bool}
///
@function isset ($var) {
	@if $var == null {
		@return false;
	}

	@return true;
}

///
/// Check if a value is not set<br>
/// True if value is not null
///
/// @param {Any} $var - Value to check
///
/// @return {Bool}
///
@function isnotset ($var) {
	@return not(isset($var));
}

///
/// Gets the total of all numbers in a List
///
/// @param {List} $numbers - List of numbers
///
/// @return {Number} The sum
///
@function cwt-sum($numbers) {
	$result: 0;

	@each $number in $numbers {
		$result: $result + $number;
	}

	@return $result;
}

///
/// Pad a list to be a certain size
///
/// @param {List} $list - The list
/// @param {Number} $size - How large to make the list
/// @param {Any} $value - What to fill the list with
///
/// @return {List} The new padded list
///
@function pad-list ($list, $size: 2, $value: null) {
	$i: length($list);

	@while $i < $size {
		$list: append($list, $value);
		$i: $i+1;
	}

	@return $list;
}

///
/// First item of a list
///
/// @param {List} $list - The list
///
/// @return {Any} Item in the first position
///
@function first($list) {
	@return nth($list, 1);
}

///
/// Last item of a list
///
/// @param {List} $list - The list
///
/// @return {Any} Item in the last position
///
@function last($list) {
	@return nth($list, length($list));
}

///
/// Add a key/value item to a map
///
/// @param {Map} $map - The map
/// @param {Any} $key - Key
/// @param {Any} $value - Value
///
/// @return {Map} The new map
///
@function map-set($map, $key, $value) {
	$new: ($key: $value);
	@return map-merge($map, $new);
}

///
/// Remove an item from a list
///
/// @param {List} $list - The list
/// @param {Number} $index - The list index to remove
///
/// @return {List} The new list
///
@function list-remove($list, $index) {
	$new-list: ();
	@for $i from 1 through length($list) {
		@if $i != $index {
			$new-list: append($new-list, nth($list, $i), 'space');
		}
	}
	@return $new-list;
}

///
/// Sort a SASS list
///
/// @param {List} $list - The list
///
/// @requires {function} list-remove
///
/// @return {List} The sorted list
///
@function list-sort($list) {
	$sorted-list: ();
	@while length($list) > 0 {
		$value: nth($list, 1);
		@each $item in $list {
			@if $item < $value {
				$value: $item;
			}
		}
		$sorted-list: append($sorted-list, $value, 'space');
		$list: list-remove($list, index($list, $value));
	}
	@return $sorted-list;
}

///
/// Sort a map by its keys
///
/// @param {Map} $map - The map
///
/// @requires {function} list-sort
///
/// @return {Map} The sorted map
///
@function map-sort($map) {
	$keys: list-sort(map-keys($map));
	$sorted-map: ();
	@each $key in $keys {
		$sorted-map: map-merge($sorted-map, ($key: map-get($map, $key)));
	}
	@return $sorted-map;
}